$primary-font-stack: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
$secondary-font-stack: 'Pattaya', Avenir, Helvetica, Arial, sans-serif;

$highlight: #832dd8;
$hover-pink: #ff70e0;

$darkest-neutral: #000;
$light-neutral: #eee;
$lightest-neutral: #fff;

$lightest-grey: #c2c2c2;
$light-yellow: #f2ca27;
$light-grey: #666;

$pink: #f534cb;
$red: #fc0505;
$green: #008000;
$grey: #3A3A3A;
$purple: #59105D;

$text-color-primary: $lightest-neutral;
$icons-bg: #596F7D;